OCTID/
train/
train_label/
dr_dataset/
train_dr/
results/
results*/
*.out
__pycache__/
dataset_*/
P_Net_Anomaly*/*
ganomaly/*
anomalib/*
logs/
oct_kaggle/
our_dataset/
gan_and_str/
gozde/
outputs*/
pretrained/