OCTID/
train/
train_label/
dr_dataset/
train_dr/
results/
results*/
*.out
__pycache__/
dataset_*/
P_Net_Anomaly*/*
ganomaly/*
anomalib/*
logs/
gan_and_str/
gozde/
outputs*/
pretrained/
runs*

# dataset ignore
deprecated.zip
oct_kaggle/
datasets/our_dataset/
OCT-Segmentation/
RESC/
mvtec/
2015_BOE_Chiu
datasets

baseline_models